<div class="d-flex justify-content-end">
  <%= link_to 'back to homepage', root_path, class: 'btn btn-flat' %>
</div>
<div class="container">
  <h1 class="p-5 mb-5 d-flex justify-content-center">Boats to rent in Berlin</h1>
<div class = "my-2">
  <% @boats.each do |boat| %>
  <%= link_to boat_path(boat), class:'text-decoration-none' do %>
  <div class="mb-4 d-flex justify-content-center" data-aos="zoom-in">
    <div class="card-trip">
      <%=image_tag boat.pictures_url%>
      <div class="card-trip-infos">
        <div class="p-3 d-flex flex-column flex-grow-1">
          <h2 class="mb-2"><%= boat.name %></h2>
          <p class="text-muted"><%= boat.description %></p>
        </div>
        <small class="card-trip-pricing flex-shrink-0 mb-5"><i class="fas fa-euro-sign"><%= boat.price_per_night %></i></small>
        <%=image_tag boat.user.profile_pic, class: "card-trip-user avatar-bordered" %>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
<div class="d-flex justify-content-end">
  <%= link_to 'back to homepage', root_path, class: 'btn btn-flat' %>
</div>
