<div class="form-pic-wrapper">
  <%= simple_form_for @boat do |f|%>
  <div class = "listing-card">
    <div class="form-row">
      <div class="form-group col-12 mb-2">
        <%= f.input :name, label: 'Boat name', error: 'Boat name is mandatory, please specify one', class: "form-control" %>
      </div>
      <div class="form-group col-12 mb-2">
        <%= f.input :description, label: 'Description', error: 'A description is mandatory, please specify one', hint: 'Minimum 50 characters.', class: "form-control" %>
      </div>
      <div class="form-group col-md-6 mb-2">
        <%= f.input :location, label: 'Boat location', error: 'A location is mandatory, please specify one', class: "form-control" %>
      </div>
      <div class="form-group col-md-6 mb-2">
        <%= f.input :price_per_night, label: 'Price/night', error: 'A price per night is mandatory, please specify one', hint: 'Enter a number.', class: "form-control" %>
      </div>
      <div class="form-group col-md-6">
        <%= f.file_field :pictures_url, label: "Boat images", error: 'Pictures of your boat are mandatory, please upload at least one', hint: 'Upload pictures of your boat.(minimum 1)', class: "form-control-file" %>
      </div>
      <div class="form-group col-md-6">
        <%= f.button :submit, 'Create your boat listing', class:"new-boat-button"%>
      </div>
    </div>
  </div>
  <% end %>
  <div class="list-pic ">
    <%= image_tag "https://res.cloudinary.com/dr8v0dbbd/image/upload/v1622113654/boats/470146a23f8f852125d523080e4f3c7b.Yacht-Holiday-Indonesia-1_sddenf.jpg"%>
  </div>
</div>
