<div class="map" style="background-image: url('<%= @boat.pictures_url %>')"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="boat-show-card">
        <h1><%= @boat.name %></h1>
        <p class="boat-show-address"><%= @boat.location %></p>
      </div>
      <div class="boat-show-card">
        <h3>A bit more about this boat</h3>
        <p><%= @boat.description %></p>
      </div>
    </div>

    <div class="col-4">
      <div class="boat-show-card">
        <h5>Booking</h5>

        <form action="">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">From:</span>
            <input type="text" class="form-control" placeholder="12/10/2017" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mt-2">
            <span class="input-group-addon" id="basic-addon1">To:</span>
            <input type="text" class="form-control" placeholder="18/10/2017" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <input type="submit" value="Book" class="btn btn-flat mt-2" style="width: 100%">
        </form>
      </div>
      <div class="boat-show-card">
        <h3>Details</h3>
          <div class="d-flex">
            <h6><i class="fas fa-euro-sign"><%= @boat.price_per_night %>/night</i></h6>
          </div>
      </div>
      <div class="boat-show-card">
          <h6 class="mb-3">Share</h6>

          <div class="d-flex">
            <i class="fab fa-facebook-f fa-2x mr-2"></i>
            <i class="fab fa-twitter fa-2x mr-2"></i>
            <i class="fab fa-instagram fa-2x mr-2"></i>
            <i class="far fa-envelope fa-2x"></i>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-start">
  <i class="fas fa-angle-left"><%= link_to 'back to results', boats_path, class: 'btn btn-flat' %></i>
</div>
