<div class="map" style="background-image: url('<%= @boat.pictures_url %>')"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="boat-show-card">
        <h1 class="mb-5"><%= @boat.name %></h1>
        <p class="text-muted"><%= @boat.description %></p>
      </div>
      <div class="boat-show-card">
        <p class="boat-show-address my-2"><i class="fas fa-map-marker-alt "> <%= @boat.location %></i></p>
        <div>
          <% if user_signed_in? %>
            <button id = "date-modal" type="button" class="btn-orange mt-2" data-toggle="modal" data-target="#add_booking_modal">Book</button>
          <% else %>
            <%= link_to 'Log in to book', new_user_session_path, method: :get, class: "btn-orange" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="boat-show-card">
        <h5 class="mb-2">Price</h5>
          <div class="d-flex">
            <h4 class="boat-pricing"><i class="fas fa-euro-sign"></i> <%= @boat.price_per_night %>/night</h4>
          </div>
      </div>
      <div class="boat-show-card">
          <h5 class="mb-3">Share</h5>

          <div class="d-flex justify-content-between">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram "></i>
            <i class="far fa-envelope"></i>
          </div>
      </div>
    </div>
  </div>
</div>
<% if user_signed_in? %>
  <%= render 'shared/new'%>
<% end %>
